[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
[submodule "themes/chart-example-theme"]
	path = themes/chart-example-theme
	url = https://github.com/b0000ring/chart-example-theme.git
